.sub__heading {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	margin-left: 16px;
	color: #ffffff;
	padding: 16px 0px 8px;
	opacity: 0.8;
}

.moment_tile_container {
	margin-left: 16px;
	background: linear-gradient(
		180deg,
		rgba(29, 29, 29, 0) 58.89%,
		#1d1d1d 89.73%
	);
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
	border-radius: 10px;
	object-fit: cover;
}

.moment_img_fade {
	background: linear-gradient(
		180deg,
		rgba(29, 29, 29, 0) 58.89%,
		#1d1d1d 89.73%
	);
	position: relative;
	border-radius: 10px;
}

.moment_data {
	bottom: 12px;
	position: absolute;
	left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.moment_data_cat {
	bottom: 5px;
	position: absolute;
	left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.imgtitle {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}

.imgtimestamp {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	color: #FFFFFF;
	opacity: 0.7;
	margin-top: 4px;
}

.wrapper {
	overflow-x: scroll;
	white-space: nowrap;
	display: flex;
}
