.heading {
	font-family: 'Poppins';
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0;
}
.title {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}

.heading__hr {
	background: #ffffff26;
	border: 1px solid rgba(255, 255, 255, 0.15);
	/* width: 328px; */
	margin: 0px 16px;
}

.left > img {
	margin-left: 16px;
}

.left > span {
	padding-left: 16px;
}

.right > img {
	height: 36px;
	width: 36px;
	margin-right: 16px;
}
